

/* 
==========
landing_page
==========
 */
 #landing_page{
    position: relative;
    min-height:115vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:flex-end;
    background: linear-gradient(180deg, #E786FF 0%, #FBA9FD 100%);
    overflow: hidden;

 }

 .images-section #Layerw{

}
 #landing_page img{
    position: absolute;
    width: 100%;
    pointer-events: none;

 }


 #landing_page #Layer3{ 
 }

 #LayerT{
    /* top: 20%; */
}

.images-section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.typeface-packet{
    position: absolute;
    width: 40%;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
        z-index: 10;
}

/* .typeface {
    position: relative;
    top: 0;
    transition: transform 0.4s ease-in-out;
} */


.text-for-dates{
    text-align: center;
    margin-top: 20%;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFF -11.67%, #3697CF 145.83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(6px 4px 4px #000);
}
.register-now{
    /* margin-top: 2rem; */
    width: 50%; 
    padding: 0.75rem 0.5rem;
    border-radius: 50px;
    background-color: transparent;
}


#plane{
    /* transform: translateX(-300%); */
    /* transform: translateY(0%);
    transform: translateY(10%);
    transform: translateY(20%);
    transform: translateY(-20%); */
    animation: planeMove 5s linear infinite;
}

@keyframes planeMove {      
    0% {
        transform: translateY(1.5%);
        
    }
    50% {
        transform: translateY(-1.5%);
        /* transform: translateX(5%); */
    }
    100% {
        transform: translateY(1.5%);
    }
}


@media screen and (max-width:446px) {
    #landing_page{
        height:100vh;
        padding: 0;
        position: relative;
        background-image: url(../images/2024_landing/LayerO_sm.svg);
        background-size: cover;
     }
    
    #Layerw{
        bottom: 0;
        }
        
    #Layer3{
 }
    #LayerT{
        top: auto;
        bottom: 20%;
    } */

.images-section{
    position: absolute;
   
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    
    
}

.typeface-packet{
    position: absolute;
    width: 90%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
        z-index: 10;
}

}

.register-now-image:hover{
    transform: scale(1.05);
}

.typeface:hover {
    transform: scaleY(1.05);
}

/* 
==========
Register Now
========== 
*/

/* 
==========
strip
========== */
.marquee {
    display: flex;
    width: 100%;
    height: 4.5%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.marquee div{
    letter-spacing: 2px;
}
.marquee div:nth-child(1) {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee1 10s linear infinite;
    font-size: 1em;
    font-weight: normal;
    overflow: hidden;
    padding-right: 1px;
}

.marquee div:nth-child(2) {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee2 10s linear infinite;
    font-size: 1em;
    font-weight: normal;
    overflow: hidden;
    padding-right: 1px;

}
@keyframes marquee1 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes marquee2 {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(00%);
    }
}

/* 
==========
Train 
==========
*/

